/*Required properties(4/10) : text-align, font-family, color, font-size*/
body{
    width:1020px;   /*All the visible components are within 1020px*/
    text-align:center;
    font-family:Tahoma, Verdana, sans-serif;
    color:black;
    font-size:16px;
    margin: 0 auto;
}

nav{
    display:flex;
    justify-content: center;
}

p{
    margin:10px;
}

/*Required properties(8/10) : margin, border, width, padding*/
form{
    border: 2px solid black;

    position:relative;
    width:450px;
    left:50%;
    margin:30px auto auto -225px;


    text-align: start;
    font-family:Tahoma, Verdana, sans-serif;
    padding:15px;
}

/*Required properties(9/10) : height*/
.box{
    position:absolute;
    left:25%;
    width:230px; height:20px;
    padding:0px; margin-bottom:5px;
    text-align: center;
    font-family:Tahoma, Verdana, sans-serif;
}

.radio{
    position:relative;
    left:15%; 
    margin-right:100px;
}

/*Required properties(10/10) : background-color*/
.submitButton{
    background-color: #6bff6b;
    font-size:15px;
    width:80px; height:30px;
    border-radius: 15px;
}
.cancelButton{
    background-color: rgb(255, 65, 65);
    font-size:15px;
    width:80px; height:30px;
    border-radius: 15px;
}
/*----------------------------------HW3------------------------------------*/
/*Sliding Header Animation*/
.headingWrapper{
    margin:0px;
    padding:0px;
    width:1020px;
    overflow:hidden;
    border : 0px;
}

.animationHeading{
    position:relative;
    text-align: left;
    animation-name:movingHeading;   /*Used Animation Name*/
    animation-timing-function: linear;
    animation-duration:2s;  /*Used Animation Duration*/
    animation-delay:0s;
    animation-iteration-count: 1;
}

@keyframes movingHeading {  /*Used keyframes*/
    0%{left:100%;}
    100%{left:0%;}
}

/*Flexible Navigation Bar*/
.linkList{
    display:flex;
    flex-direction:row; /*Used flex-direction*/
    flex-wrap:wrap;     /*Used flex-wrap*/
    justify-content:left;   /*Used justify-content*/
    padding:0px 10px;
    list-style:none;
}
.linkList a{
    color:black;
    margin:20px;
    text-decoration: none;
}
.linkList li:hover{
    height:30px;
    border-top:2px solid lightgreen;
    border-bottom:2px solid lightgreen;   
}

/*Nested Flexible Containers*/
/*4Flexboxes : contents(vertical), main(vertical), posters(horizontal), genre(horizontal)*/
#contents, #main{      /*2 vertical containers*/
    width:100%;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    align-content: flex-start;
}
#posters{        /*horizontal container*/
    text-align: left;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: stretch;
    height:300px;
}
.genre{        /*horizontal container*/
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

#main h2, #intro h2{
    width:100%;
    text-align: left;
    border-bottom: 1px dotted black;
}


#intro{
    text-align: left;
}


/*Represent movie title & Enlarging the poster at mouse hovering*/
#posters>div{
    margin:10px;
    width:22%;
    height:100%;
    border:1px solid black;
}
#posters .image{
    margin:5px;
    width:45%; height:45%;
    transition : transform 2s;  /*Used transition*/
}
.title{
    opacity:0;
    width:100%; border:0px;
    position:relative;
    top:-100%;
    left:0px;
}
#posters .image img{
    width:100%; height:100%;
}
#posters .image:hover{  /*Used hover*/
    transform:scale(1.2,1.2)
}
#posters .image:hover .title{   /*Used hover*/
    opacity:1;
    background-color: rgb(137, 225, 65);
    color:white;
}



/*MEDIA QUERIES*/
@media (max-width:480px){   /*Considered ~480px case*/
    .linkList{
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        justify-content:left;
        padding:0px 10px;
        list-style:none;
    }
    body{
        width:100%;     /*As max-width<801px, 100% ensures all the contents are inside 1020px*/
        text-align:center;
        font-family:Tahoma, Verdana, sans-serif;
        color:black;
        font-size:16px;
        margin: 0 auto;
    }
    .headingWrapper{
        width:100%;
    }
    
    #posters{        /*horizontal container*/
        text-align: left;
        display:flex;
        flex-direction: column;
        flex-wrap:wrap;
        justify-content: center;
        align-items: stretch;
        height:auto;
    }
    #posters > div {
        width: 90%; 
        margin: 10px auto;
    }

}

@media (min-width:481px) and (max-width:800px){     /*Considered 481~800px case*/
    .linkList{
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        justify-content:left;
        padding:0px 10px;
        list-style:none;
    }
    body{
        width:100%;     /*As max-width<801px, 100% ensures all the contents are inside 1020px*/
        text-align:center;
        font-family:Tahoma, Verdana, sans-serif;
        color:black;
        font-size:16px;
        margin: 0 auto;
    }
    .headingWrapper{
        width:100%;
    }
    
    #posters{        /*horizontal container*/
        text-align: left;
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: center;
        align-items: stretch;
        height:auto;
    }
    #posters > div {
        width: 45%; 
        margin: 10px auto;
    }
}

@media (min-width:801px){   /*Considered 801px~ case : The same as the original layout*/
    .linkList{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:left;
        padding:0px 10px;
        list-style:none;
    }
    #contents, #main{      /*2 vertical containers*/
        width:100%;
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        align-content: flex-start;
    }
    #posters{        /*horizontal container*/
        text-align: left;
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: center;
        align-items: stretch;
        height:300px;
    }
}